---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---
<Layout title="My Website">
  <main>
    <Hero name="Your Name" tagline="Developer & Creator" />
  </main>
</Layout>
